@import "compass/css3";
@import "compass/utilities/sprites";

//Icons
$bn-icon-sprite-dimensions: true;
@import "bn-icon/*.png";
@include all-bn-icon-sprites;
span[class^='bn-icon'],span[class*=' bn-icon']{
  display: inline-block;
}

//Container

#BetterNavigator {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    max-height: 100%;
    overflow: auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: left;

    a {
        text-decoration: none;
    }

    //Toggle states

    &.collapsed {
        box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
        @include transform-origin(right,top);
        @include transform(rotate(90deg) translate(100%,0));
        border-width: 0 1px 1px 0;

        #BetterNavigatorStatus {
            border-width: 0 1px 1px 0;

            .bn-icon-close {
                display: none;
            }
            .bn-icon-cog {
                display: inline-block;
            }
        }

        #BetterNavigatorContent {
            display: none;
        }
    }
}

//Status

$liveColor: #39b54a;
$stageColor: #f26c4f;
$archiveColor: #6f6f6f;

#BetterNavigatorStatus {
    color: #fff;
    background: $archiveColor;
    border: 1px solid shade($archiveColor, 10);
    border-width: 0 0 0 1px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 15px 8px;
    font-weight: bold;

    .bn-icon-cog {
      margin: -4px 8px -4px -4px;
      display: none;
    }

    .bn-icon-close {
      float: right;
      margin: 1px 0 0 0;
    }

    .bn-icon-cog,
    .bn-icon-close {
      opacity: .7;
    }

    &:hover {
        background: shade($archiveColor, 5);

        .bn-icon-cog,
        .bn-icon-close {
          opacity: 1;
        }
    }

    &.Live {
        background: $liveColor;
        border-color: shade($liveColor, 10);

        &:hover {
            background: shade($liveColor, 5);
        }
    }

    &.Draft {
        background: $stageColor;
        border-color: shade($stageColor, 10);

        &:hover {
            background: shade($stageColor, 5);
        }
    }
}

//Content

#BetterNavigatorContent {
    padding: 6px;
    color: #71767a;
    background: #cfd8de;
    border: 1px solid shade(#cfd8de, 10);
    border-width: 0 0 1px 1px;

    .bn-heading {
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;
        margin: 8px 0 4px 0;
    }

    span[class^='bn-icon'],span[class*=' bn-icon']{
      margin: -2px 5px -3px -2px;
    }

    a,
    span.bn-disabled {
        display: block;
        background: #eceff2;
        color: #313639;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
        border-radius: 5px;
        border-bottom: 1px solid #a3aaaf;
        margin: 0 0 4px 0;
        padding: 6px 10px 5px 10px;
        line-height: 16px;
        font-weight: bold;

        .light {
            font-weight: normal;
        }
    }

    a:focus,
    a:hover,
    a:active {
        background: #fff;
        color: #000;
    }

    span.bn-disabled {
        background: #afbac0;
        color: #51565a;
        cursor: default;
    }
}

//Some hlep for debugging info
body > p.message {
    text-align: left;
    background: #fff;
    color: #222;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    border-left: 5px solid #1d8aff;
}
