@import "compass/css3";
@import "compass/utilities/sprites";

//Icons
$bn-icon-sprite-dimensions: true;
@import "bn-icon/*.png";
@include all-bn-icon-sprites;
span[class^='bn-icon'],span[class*=' bn-icon']{
  display: inline-block;
}

//Container

#BetterNavigator {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99999;
	background: #cfd8de;
	border: 1px solid #ecf0f2;
	border-width: 0 0 1px 1px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: left;

	//Toggle states 
	
	&.collapsed {
		right: auto;
		left: 100%;
		width: auto;
		overflow: visible;
	}
	&.collapsed #BetterNavigatorStatus {
		@include rotate(90deg);
		@include transform-origin(0,0);
		white-space: nowrap;
		box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
		border: 1px solid #fff;
		border-width: 0 1px 1px 0;
		
		.bn-icon-close {
			display: none;
		}
		.bn-icon-cog {
			display: inline-block;
		}
	}
	&.collapsed #BetterNavigatorStatus {
	}
	&.collapsed #BetterNavigatorContent {
		display: none;
	}
}

//Status

#BetterNavigatorStatus {
	color: #fff;
	background: #6f6f6f;
	text-transform: uppercase;
	cursor: pointer;
	padding: 10px 15px 8px;
	font-weight: bold;
	
	&.Live {
		background: #39b54a;
		
		&:hover {
			background: shade(#39b54a, 5);
		}
	}
	
	&.Stage {
		background: #f26c4f;
		
		&:hover {
			background: shade(#f26c4f, 5);
		}
	}
	
	.bn-icon-cog {
	  margin: -4px 8px -4px -4px;
	  display: none;
	}
	
	.bn-icon-close {
	  float: right;
	  margin: 1px 0 0 0;
	}
	
	.bn-icon-cog,
	.bn-icon-close {
	  opacity: .7;
	}
	
	&:hover {
		background: shade(#6f6f6f, 5);
		
		.bn-icon-cog,
		.bn-icon-close {
		  opacity: 1;
		}
	}
}

//Content

#BetterNavigatorContent {
	padding: 6px;
	color: #71767a;
	
	.bn-heading {
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		margin: 8px 0 4px 0;
	}

	span[class^='bn-icon'],span[class*=' bn-icon']{
	  margin: -2px 5px -3px -2px;
	}
	
	a,
	span.bn-disabled {
		display: block;
		background: #eceff2;
		color: #313639;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 12px;
		border-radius: 5px;
		border-bottom: 1px solid #a3aaaf;
		margin: 0 0 4px 0;
		padding: 6px 10px 5px 10px;
		line-height: 16px;
		font-weight: bold;
		
		.light {
			font-weight: normal;
		}
	}
	
	a:focus,
	a:hover,
	a:active {
		background: #fff;
		color: #000;
	}
	
	span.bn-disabled {
		background: #afbac0;
		color: #51565a;
		cursor: default;
	}
}

//Some hlep for debugging info
body > p.message {
	text-align: left;
	background: #fff;
	color: #222;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #ccc;
	border-left: 5px solid #1d8aff;
}